
@model VApp.Models.EmployeeDataModel
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h5> Welcome! @Model.FirstName </h5>
<section>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Your Details</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Vaccination Details</a>

                <a class="list-group-item list-group-item-action" id="list-count-list" data-toggle="list" href="#list-count" role="tab" aria-controls="messages">Vaccination Status</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="row">

                        <div class="col-3">
                            <p for="floatingCode" style="font-weight:bolder" class="bold">Employee Code:</p>
                            <p for="firstName" style="font-weight:bolder" class="bold">First Name:</p>
                            <p for="lastName" style="font-weight:bolder" class="bold">Last Name:</p>
                            <p for="email" style="font-weight:bolder" class="bold">Email address:</p>
                            <p for="joiningdate" style="font-weight:bolder" class="bold">Joining Date:</p>
                            <p for="mobile" style="font-weight:bolder" class="bold">Mobile No:</p>
                            <p for="address" style="font-weight:bolder" class="bold">Address:</p>


                        </div>
                        <div class="col-6">
                            <p id="floatingCode"> @Model.Code</p>
                            <p id="firstName"> @Model.FirstName</p>
                            <p id="lastName">@Model.LastName</p>
                            <p id="email">@Model.Email</p>
                            <p id="joiningdate">@Model.JoiningDate</p>
                            <p id="mobile">@Model.Mobile</p>
                            <p id="address">@Model.Address</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                    <div class="row">
                        <div class="col-3">
                            <p style="font-weight:bolder">Vaccine Name</p>
                            <p style="font-weight:bolder">Vaccinated Date</p>
                            <p style="font-weight:bolder">Dose No</p>
                            <p style="font-weight:bolder">Hospital Name</p>

                        </div>
                        @foreach (var item in Model.EmpVaccinationData)
                        {
                            <div class="col-4">
                                <p>@item.VccineName</p>
                                <p>@item.VaccinationDate</p>
                                <p>@item.DoseType</p>
                                <p>@item.HospitalName</p>
                            </div>
                        }
                    </div>

                </div>

                <div class="tab-pane fade show" id="list-count" role="tabpanel" aria-labelledby="list-count-list">
                    <div class="row">
                        <div class="col-12 text-primary">
                            @{ var data = Model.GetAllCountModel.CovaxinDose2Count + Model.GetAllCountModel.CovisheildDose2Count + Model.GetAllCountModel.SputnikDose2Count;
                                <h4>First Dose Vaccination: @Model.GetAllCountModel.FirstDoseVaccinationPercentage %</h4>
                                <h4>Second Dose Vaccination: @Model.GetAllCountModel.SecondDoseVaccinationPercentage %</h4>
                                <h4>Not Yet Vaccinated: @Model.GetAllCountModel.NotYetVaccinatedPercentage %</h4>
                                <table border="1" class="text-center">
                                    <tr>
                                        <th>Vaccine Type</th>
                                        <th>Dose 1</th>
                                        <th>Dose 2</th>
                                        <th>Not Yet Vaccinated</th>
                                        <th>Grand Total</th>
                                    </tr>
                                    <tr>
                                        <td class="h5">Covaxin</td>
                                        <td>@Model.GetAllCountModel.CovaxinDose1Count</td>
                                        <td>@Model.GetAllCountModel.CovaxinDose2Count</td>
                                        <td rowspan="3"></td>
                                        <td>@Model.GetAllCountModel.CovaxinTotal</td>
                                    </tr>
                                    <tr>
                                        <td class="h5">Covisheild</td>
                                        <td>@Model.GetAllCountModel.CovisheildDose1Count</td>
                                        <td>@Model.GetAllCountModel.CovisheildDose2Count</td>

                                        <td>@Model.GetAllCountModel.CovisheildTotal</td>
                                    </tr>
                                    <tr>
                                        <td class="h5">Sputnik</td>
                                        <td>@Model.GetAllCountModel.SputnikDose1Count</td>
                                        <td>@Model.GetAllCountModel.SputnikDose2Count</td>

                                        <td>@Model.GetAllCountModel.SputnikTotal</td>
                                    </tr>
                                    <tr>
                                        <td class="h5">Not Yet Vaccinated</td>
                                        <td colspan="2"></td>
                                        <td>@Model.GetAllCountModel.NotYetVaccinated</td>
                                        <td>@Model.GetAllCountModel.NotYetVaccinated</td>
                                    </tr>

                                    <tr>
                                        <td class="h5">Grand Total</td>
                                        <td>@Model.GetAllCountModel.FisrtDoseTotal</td>
                                        <td>@data</td>
                                        <td>@Model.GetAllCountModel.NotYetVaccinated</td>
                                        <td>@Model.GetAllCountModel.TotalEmployee</td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>