
@model VApp.Models.EmployeeDataModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}



<h5> Welcome! @Model.FirstName </h5>
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-2">
        <label for="floatingCode" style="font-weight:bolder" class="bold">Employee Code:</label><br />
        <label for="firstName" style="font-weight:bolder" class="bold">First Name:</label><br />
        <label for="lastName" style="font-weight:bolder" class="bold">Last Name:</label><br />
        <label for="email" style="font-weight:bolder" class="bold">Email address:</label><br />
        <label for="joiningdate" style="font-weight:bolder" class="bold">Joining Date:</label><br />
        <label for="mobile" style="font-weight:bolder" class="bold">Mobile No:</label><br />
        <label for="address" style="font-weight:bolder" class="bold">Address:</label><br />
       

    </div>
    <div class="col-6">
        <label id="floatingCode"> @Model.Code</label><br />
        <label id="firstName"> @Model.FirstName</label><br />
        <label id="lastName">@Model.LastName</label><br />
        <label id="email">@Model.Email</label><br />
        <label id="joiningdate">@Model.JoiningDate</label><br />
        <label id="mobile">@Model.Mobile</label><br />
        <label id="address">@Model.Address</label><br />

      
    </div>


</div>
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vaccine Name</th>
                    <th scope="col">Vaccinated Date</th>
                    <th scope="col">Dose No</th>
                    <th scope="col">Hostital Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmpVaccinationData)
                {
                    <tr>

                        <td>@item.VccineName</td>
                        <td>@item.VaccinationDate</td>
                        <td>@item.DoseType</td>
                        <td>@item.HospitalName</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
    </div>

