
@model VApp.Models.EmployeeDataModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}



<h5> Welcome! @Model.FirstName </h5>
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-2">
        <label for="floatingCode" style="font-weight:bolder" class="bold">Employee Code:</label><br />
        <label for="firstName" style="font-weight:bolder" class="bold">First Name:</label><br />
        <label for="lastName" style="font-weight:bolder" class="bold">Last Name:</label><br />
        <label for="email" style="font-weight:bolder" class="bold">Email address:</label><br />
        <label for="joiningdate" style="font-weight:bolder" class="bold">Joining Date:</label><br />
        <label for="mobile" style="font-weight:bolder" class="bold">Mobile No:</label><br />
        <label for="address" style="font-weight:bolder" class="bold">Address:</label><br />
        <label for="vname" style="font-weight:bolder" class="bold">Vaccine Name:</label><br />
        <label for="vaccinatedgdate" style="font-weight:bolder" class="bold">Vaccinated Date:</label><br />
        <label for="dosetype" style="font-weight:bolder" class="bold">Dose No: </label><br />
        <label for="hname" style="font-weight:bolder" class="bold">Hospital Name:</label><br />
        <label for="certificate" style="font-weight:bolder" class="bold">Certificate:</label>

    </div>
    <div class="col-6">
        <label id="floatingCode"> @Model.Code</label><br />
        <label id="firstName"> @Model.FirstName</label><br />
        <label id="lastName" >@Model.LastName</label><br />
        <label id="email">@Model.Email</label><br />
        <label id="joiningdate" >@Model.JoiningDate</label><br />
        <label id="mobile" >@Model.Mobile</label><br />
        <label id="address">@Model.Address</label><br />
        <label id="vname">@Model.EmpVaccinationData[0].VccineName</label><br />
        <label id="vaccinateddate">@Model.EmpVaccinationData[0].VaccinationDate</label><br />
        <label id="dosetype"> @Model.EmpVaccinationData[0].DoseType</label><br />
        <label id="hname">@Model.EmpVaccinationData[0].HospitalName</label><br />
        <label id="certificate">@Model.EmpVaccinationData[0].CertificatePath</label>
    </div>
   
</div>

