@model VApp.Models.AdminModel

@{
    ViewData["Title"] = "Admin";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col">
        <h1>Search Employee</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="get" class="row g-3" asp-action="Index">

            <div class="form-group mb-3 col-6">
                <input type="search" class="form-control" placeholder="Enter Employee Name, Email or Code" asp-for="SearchModel.SearchKey" />
            </div>
            <div class="form-group mb-3 col-1">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
            <div class="form-group mb-3 col-3">
                <a class="btn btn-primary" asp-action="Index"> Get All Employees </a>
            </div>
            <div class="form-group mb-3 col-2">
                <a class="btn btn-primary text-white" id="advanceSearchBtn" onclick="DisplayAdvanceSearch()"> Close Advance Search </a>
            </div>
            <div id="advanceSearch" class="col-12">
                <div class="form-group mb-3 col-3 float-left">
                    From Date:
                    <input type="date" class="form-control" asp-for="SearchModel.FromDate" />
                </div>
                <div class="form-group mb-3  col-3 float-left">
                    To Date:
                    <input type="date" class="form-control" asp-for="SearchModel.ToDate" />
                </div>
                <div class="form-group mb-3 col-3 float-left">
                    Dose Type:
                    @Html.DropDownListFor(m => m.SearchModel.DoseType, new SelectList(Model.DoseTypes, "Id", "DoseType1"), new { @class = "form-control" })
                </div>
                <div class="form-group mb-3 col-3 float-left">
                    Vaccine Name:
                    @Html.DropDownListFor(m => m.SearchModel.VaccineName, new SelectList(Model.VaccinationNames, "Name", "Name"), new { @class = "form-control" })
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">

                    <tr>
                        <th width="20%" scope="col">
                            @Html.DisplayNameFor(model => model.EmpDataListModel[0].Code)
                        </th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpDataListModel[0].FirstName)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpDataListModel[0].LastName)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpDataListModel[0].Email)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpDataListModel[0].Mobile)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpDataListModel[0].Address)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpDataListModel[0].JoiningDate)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpVaccinationDataListModel[0].VccineName)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpVaccinationDataListModel[0].VaccinationDate)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpVaccinationDataListModel[0].DoseType)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.EmpVaccinationDataListModel[0].HospitalName)</th>
                        <th scope="col">Actions</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EmpDataListModel)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Mobile)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>@Html.DisplayFor(modelItem => item.JoiningDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.VccineName)</td>
                            <td>@Html.DisplayFor(modelItem => item.VaccinationDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.DoseType)</td>
                            <td>@Html.DisplayFor(modelItem => item.HospitalName)</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button type="button" class="btn btn-warning mr-2" data-toggle="modal" data-target="#@item.Code">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>


                                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                        <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                    </form>
                                 </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="@item.Code" tabindex="-1" role="dialog" aria-labelledby="#@item.FirstName" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="@item.FirstName">Edit Employee : @item.FirstName</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="Update" asp-controller="Admin" method="post">
                                            <div class="form-group">
                                                <label for="id" class="col-form-label d-none">Employee ID:</label>
                                                <input type="text" class="form-control d-none" id="id" asp-for="EmpDataListModel[0].Id" value="@item.Id">
                                            </div>
                                            <div class="form-group">
                                                <label for="code" class="col-form-label">Employee Code:</label>
                                                <input type="text" class="form-control" id="code" asp-for="EmpDataListModel[0].Code" value="@item.Code" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="first-name" class="col-form-label">First Name:</label>
                                                <input type="text" class="form-control" asp-for="EmpDataListModel[0].FirstName" id="first-name" value="@item.FirstName">
                                            </div>
                                            <div class="form-group">
                                                <label for="last-name" class="col-form-label">Last Name:</label>
                                                <input type="text" class="form-control" asp-for="EmpDataListModel[0].LastName" id="last-name" value="@item.LastName">
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-form-label">Email:</label>
                                                <input type="email" class="form-control" asp-for="EmpDataListModel[0].Email" id="email" value="@item.Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile" class="col-form-label">Mobile:</label>
                                                <input type="text" class="form-control" asp-for="EmpDataListModel[0].Mobile" id="mobile" value="@item.Mobile">
                                            </div>
                                            <div class="form-group">
                                                <label for="joining-date" class="col-form-label">Joining Date:</label>
                                                <input type="text" class="form-control" asp-for="EmpDataListModel[0].JoiningDate" id="joining-date" value="@item.JoiningDate" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="address" class="col-form-label">Address:</label>
                                                <input type="text" class="form-control" asp-for="EmpDataListModel[0].Address" id="joining-date" value="@item.Address">


                                            </div>
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>

                    }
                </tbody>
            </table>


        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function DisplayAdvanceSearch() {
            var advBtn = $("#advanceSearchBtn");
            if (advBtn[0].innerText == "Close Advance Search") {
                advBtn.text("Advance Search");
            } else {
                advBtn.text("Close Advance Search");
                $("#SearchModel_VaccineName").val("");
                $("#SearchModel_DoseType").val("");
                $("#SearchModel_FromDate").val("");
                $("#SearchModel_ToDate").val("");
            }
            $("#advanceSearch").toggle();
        }



    </script>
}


