@model IEnumerable<VApp.Entities.Employee>


@{
    ViewData["Title"] = "Admin";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-12">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a123">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="a123" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h1>Search Employee</h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="get" class="row g-3" asp-action="Index">
            <div class="col-2"></div>
            <div class="form-group mb-3 col-5">
                <input type="search" class="form-control" placeholder="Enter Employee Name, Email or Code" value="@ViewData["GetEmployeeDetails"]" name="Empsearch" />

            </div>
            <div class="form-group mb-3 col-1">
                <input type="submit" value="Search" class="btn btn-primary" />

            </div>
            <div class="col-1"></div>
            <div class="form-group mb-3 col-2">
                <a class="btn btn-primary" asp-action="Index"> Get All Employees </a>

            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JoiningDate)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.VccineName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DoseType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VaccinationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HospitalName)
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JoiningDate)
                        </td>
                        @*<td>
                    @Html.DisplayFor(modelItem => item.VccineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaccinationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HospitalName)
                </td>*@
                        @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Mobile">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Role">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StateId">Delete</a>
                </td>*@
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#@item.Code">
                                Edit
                            </button>

                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>

                    </tr>




                    <div class="modal fade" id="@item.Code" tabindex="-1" role="dialog" aria-labelledby="#@item.FirstName" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="@item.FirstName">Edit Employee : @item.FirstName</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="Update" asp-route-id="@item.Id" method="post">
                                        <div class="form-group">
                                            <label for="code" class="col-form-label">Employee Code:</label>
                                            <input type="text" class="form-control" id="code" value="@item.Code" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for="first-name" class="col-form-label">First Name:</label>
                                            <input type="text" class="form-control" id="first-name" value="@item.FirstName">
                                        </div>
                                        <div class="form-group">
                                            <label for="last-name" class="col-form-label">Last Name:</label>
                                            <input type="text" class="form-control" id="last-name" value="@item.LastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-form-label">Email:</label>
                                            <input type="email" class="form-control" id="email" value="@item.Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="mobile" class="col-form-label">Mobile:</label>
                                            <input type="text" class="form-control" id="mobile" value="@item.Mobile">
                                        </div>
                                        <div class="form-group">
                                            <label for="joining-date" class="col-form-label">Joining Date:</label>
                                            <input type="text" class="form-control" id="joining-date" value="@item.JoiningDate" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for="address" class="col-form-label">Address:</label>
                                            <textarea class="form-control" id="address">@item.Address</textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>


                }
            </tbody>
        </table>

    </div>
</div>




